.container-video {
      /* max-width: 1200px; */
      margin-inline: auto;
      height: 100vh;
      position: relative;
    }
    .spacer {
      height: 200px;
    }
    video {
      position: relative !important;
      /* top: 0 !important; */
      width: 100%;
      display: block;
      margin-inline: auto !important;
      object-fit: cover;
      height: 100%;
    }
    .absolText {
      position: absolute;
      top: 150px;
      font-size: 60px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      color: white;
      opacity: 0;
    }
    .bottomVideoBlur {
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(0deg, black, black 15%, transparent);
      height: 50vh;
      opacity: 1;
      width: 100%;
    }
    .section-color {
      background-color: black;
    }