    .BK-container-video {
      margin-inline: auto;
      height: 100vh;
      position: relative;
    }
    .BK-video {
      position: relative !important;
      /* top: 0 !important; */
      width: 100%;
      display: block;
      margin-inline: auto !important;
      object-fit: cover;
      height: 100%;
      border-radius: 0;
    }
    .BK-absolText {
      position: absolute;
      top: 40%;
      font-size: 120px;
      width: 100%;
      text-align: center;
      /* left: 50%; */
      transform: translateY(-50%);
      z-index: 1;
      color: white;
      opacity: 0;
      pointer-events: none;
    }
   
    .decompte::after{
      content: attr(data-suffix);
      font-size: 80px;
      position: relative;
    }

    .BK-absolSubText {
      position: absolute;
      top: 52%;
      font-size: 32px;
      font-weight: 400;
      width: 100%;
      text-align: center;
      /* left: 50%; */
      /* transform: translateX(-50%); */
      z-index: 1;
      color: white;
      opacity: 0;
      pointer-events: none;
    }
    
    .elementor-editor-active .view{
      opacity: 1 !important;
    }
    @media screen and (max-width:1200px) {
      .BK-absolText{
        font-size: 36px;
      }
      .BK-absolSubText{
        font-size: 24px;
      }
      
    }
    @media screen and (max-width:768px) {
      .BK-absolText{
        font-size: 36px;
        padding: 0 10%;
      }
      .BK-absolSubText{
        top: 45%;
        font-size: 20px;
        padding: 0 10%;
      }
      
    }
    .BK-bottomVideoBlur {
      position: absolute;
      bottom: 0;
      left: 0;
      /* background: linear-gradient(0deg, black, black 15%, transparent); */
      height: 50vh;
      opacity: 1;
      width: 100%;
    }